interactions:
- request:
    body: '{"method": "Workspace.create_workspace", "params": [{"workspace": "test_kb_fasttree_20240801_204739"}],
      "version": "1.1", "id": "20604935531491964"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[76213,"test_kb_fasttree_20240801_204739","ialarmedalien","2024-08-01T20:47:40+0000",0,"a","n","unlocked",{}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.save_objects", "params": [{"workspace": "test_kb_fasttree_20240801_204739",
      "objects": [{"type": "KBaseTrees.MSA", "data": {"alignment": {"21855/2/1.f:DAUD_RS11155":
      "------------------------------------MALSKERLGRFNPDNHMEGRVTDIG---------------------PRHYWQFFPPVIQNNYGKWAYHEIL-----EPGVLVHVSETGDK------AFTVRCGGM--RFMTVEFLRELCDIADRFADGYVRFT-TRNNIEFIVDSLEKVEALKAELAKHTFAIGGSLKFPVGGTGAGVTNIVHTQGFIHCHTAAVDASSMVKALMDGLFEHFTSMDLPAQVRVSMACCLNMC-GAVHCSDIALLGYHRKPPAIDHEVLHKICE--------------------IPLAIASCPTAAISPGKTEDGLKTVKIKVERCMFCGNCYTMCPALPLADGQGDCVVMMAGGKVSNRISPPTFSKVIIPYLPNNHPRFPEVVEATKQVLNAYAADARKYERIGDWAARIGWEKFFEKCNLPFTEHLIDDYRLAYD[...]
- request:
    body: '{"method": "Workspace.get_objects", "params": [[{"ref": "76213/1/1"}]],
      "version": "1.1", "id": "9623229803933299"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[{"data":{"alignment":{"21855/2/1.f:DAUD_RS11155":"------------------------------------MALSKERLGRFNPDNHMEGRVTDIG---------------------PRHYWQFFPPVIQNNYGKWAYHEIL-----EPGVLVHVSETGDK------AFTVRCGGM--RFMTVEFLRELCDIADRFADGYVRFT-TRNNIEFIVDSLEKVEALKAELAKHTFAIGGSLKFPVGGTGAGVTNIVHTQGFIHCHTAAVDASSMVKALMDGLFE[...]
- request:
    body: '{"method": "Workspace.save_objects", "params": [{"workspace": "test_kb_fasttree_20240801_204739",
      "objects": [{"type": "KBaseTrees.Tree", "data": {"name": "DsrA.test", "description":
      "test_FastTree", "type": "SpeciesTree", "tree": "(21855%2f4%2f1.f%3aDESGI_RS22175:0.12153,21855%2f2%2f1.f%3aDAUD_RS11160:0.15587,(((21855%2f8%2f1.f%3aDVUL_RS12960:0.0,21855%2f6%2f1.f%3aDVU0402:0.0,21855%2f7%2f1.f%3aDEVAL_RS01880:0.0):0.04805,21855%2f9%2f1.f%3aDVMF_RS07895:0.05673)1.000:0.14274,((21855%2f2%2f1.f%3aDAUD_RS11155:0.30486,(21855%2f3%2f1.f%3aDESNIDRAFT_RS0211670:0.11266,21855%2f5%2f1.f%3aBR02_RS0103515:0.08482)0.953:0.08154)1.000:1.05608,(21855%2f3%2f1.f%3aDESNIDRAFT_RS0211675:0.13918,21855%2f5%2f1.f%3aBR02_RS0103520:0.12923)0.971:0.07526)0.995:0.11388)1.000:0.08045);",
      "default_node_labels": {"21855%2f3%2f1.f%3aDESNIDRAFT_RS0211675": "Desulfotomaculum
      nigrificans DSM 574 - DESNIDRAFT_RS0211675", "21855%2f5%2f1.f%3aBR02_RS0103520":
      "Desulfotomaculum alkaliphilum DSM 12257 - BR02_RS0103520", "21855%2f8%2f1.f%3aDVUL_RS12960":
      "Desulfovibrio vulgaris DP4 - DVUL_RS12960", "21855%2f6%2f1.f%3aDVU0402": "Desulfovibrio
      vulgaris str. Hildenborough - DVU0402", "21855%2f7%2f1.f%3aDEVAL_RS01880": "Desulfovibrio
      vulgaris RCH1 - DEVAL_RS01880", "21855%2f9%2f1.f%3aDVMF_RS07895": "Desulfovibrio
      vulgaris str. ''Miyazaki F'' - DVMF_RS07895", "21855%2f4%2f1.f%3aDESGI_RS22175":
      "Desulfotomaculum gibsoniae DSM 7213 - DESGI_RS22175", "21855%2f2%2f1.f%3aDAUD_RS11160":
      "Candidatus Desulforudis audaxviator MP104C - DAUD_RS11160", "21855%2f2%2f1.f%3aDAUD_RS11155":
      "Candidatus Desulforudis audaxviator MP104C - DAUD_RS11155", "21855%2f3%2f1.f%3aDESNIDRAFT_RS0211670":
      "Desulfotomaculum nigrificans DSM 574 - DESNIDRAFT_RS0211670", "21855%2f5%2f1.f%3aBR02_RS0103515":
      "Desulfotomaculum alkaliphilum DSM 12257 - BR02_RS0103515"}, "leaf_list": ["21855%2f3%2f1.f%3aDESNIDRAFT_RS0211675",
      "21855%2f5%2f1.f%3aBR02_RS0103520", "21855%2f8%2f1.f%3aDVUL_RS12960", "21855%2f6%2f1.f%3aDVU0402",
      "21855%2f7%2f1.f%3aDEVAL_RS01880", "21855%2f9%2f1.f%3aDVMF_RS07895", "21855%2f4%2f1.f%3aDESGI_RS22175",
      "21855%2f2%2f1.f%3aDAUD_RS11160", "21855%2f2%2f1.f%3aDAUD_RS11155", "21855%2f3%2f1.f%3aDESNIDRAFT_RS0211670",
      "21855%2f5%2f1.f%3aBR02_RS0103515"]}, "name": "DsrA.test", "meta": {}, "provenance":
      [{"service": "kb_fasttree", "method": "run_FastTree", "method_params": [], "input_ws_objects":
      ["76213/1/1"]}]}]}], "version": "1.1", "id": "6138308506138858"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[2,"DsrA.test","KBaseTrees.Tree-1.2","2024-08-01T20:47:40+0000",1,"ialarmedalien",76213,"test_kb_fasttree_20240801_204739","79b3b138a032f398801ff79f8eb4940e",2033,{}]]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "DataFileUtil._file_to_shock_submit", "params": [{"file_path":
      "/kb/module/work/tmp/20240801_204739/output/DsrA.test.newick", "make_handle":
      0}], "version": "1.1", "id": "3680250741042257", "context": {"service_ver":
      "release"}}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":["b434def0-d40e-43a3-827f-5692c880cac2"],"id":"3680250741042257","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "DataFileUtil._check_job", "params": ["b434def0-d40e-43a3-827f-5692c880cac2"],
      "version": "1.1", "id": "12246182159010399"}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":[{"result":[{"shock_id":"99ba0c69-648d-479c-8214-83f6bec5670f","handle":null,"node_file_name":"DsrA.test.newick","size":537}],"finished":1}],"id":"3680250741042257","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "DataFileUtil._file_to_shock_submit", "params": [{"file_path":
      "/kb/module/work/tmp/20240801_204739/output/DsrA.test-labels.newick", "make_handle":
      0}], "version": "1.1", "id": "29310110991395055", "context": {"service_ver":
      "release"}}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":["00d4f7b0-2e4a-4ae1-bca4-886e4600e735"],"id":"29310110991395055","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "DataFileUtil._file_to_shock_submit", "params": [{"file_path":
      "/kb/module/work/tmp/20240801_204739/output_html/DsrA.test.png", "make_handle":
      0}], "version": "1.1", "id": "5458284666331215", "context": {"service_ver":
      "release"}}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":["ffc5547f-b515-4004-bdbf-3d1be2019e33"],"id":"5458284666331215","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "DataFileUtil._file_to_shock_submit", "params": [{"file_path":
      "/kb/module/work/tmp/20240801_204739/output/DsrA.test.pdf", "make_handle": 0}],
      "version": "1.1", "id": "7614340402552046", "context": {"service_ver": "release"}}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":["71ee0787-3ebf-4998-b74e-b45598b2a9a2"],"id":"7614340402552046","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "DataFileUtil._file_to_shock_submit", "params": [{"file_path":
      "/kb/module/work/tmp/20240801_204739/output_html", "make_handle": 0, "pack":
      "zip"}], "version": "1.1", "id": "02987731357593537", "context": {"service_ver":
      "release"}}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":["b1a6f733-0b9d-4169-9b5f-e5426ccfa924"],"id":"02987731357593537","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "KBaseReport._create_extended_report_submit", "params": [{"objects_created":
      [{"ref": "test_kb_fasttree_20240801_204739/DsrA.test", "description": "DsrA.test
      Tree"}], "message": "", "direct_html": "", "direct_html_link_index": 0, "file_links":
      [{"shock_id": "99ba0c69-648d-479c-8214-83f6bec5670f", "name": "DsrA.test.newick",
      "label": "DsrA.test NEWICK"}, {"shock_id": "8bae4311-fbca-4e64-bc0e-6a886949403b",
      "name": "DsrA.test-labels.newick", "label": "DsrA.test NEWICK (with labels)"},
      {"shock_id": "320d5ee5-f94d-4931-8b36-f1e2b37c1aca", "name": "DsrA.test.png",
      "label": "DsrA.test PNG"}, {"shock_id": "fca20e72-da80-47f2-88cc-a3dff97a1300",
      "name": "DsrA.test.pdf", "label": "DsrA.test PDF"}], "html_links": [{"shock_id":
      "700bafb7-a5a2-4d28-b554-f0ada3c3bf22", "name": "DsrA.test.html", "label": "DsrA.test
      HTML"}], "workspace_name": "test_kb_fasttree_20240801_204739", "report_object_name":
      "blast_report_20240801_204739"}], "version": "1.1", "id": "7678344637684613",
      "context": {"service_ver": "release"}}'
    headers:
    method: POST
    uri: http://10.0.0.87:53316/
  response:
    body:
      string: '{"result":["6da15d28-1c84-465e-9189-3474445240ee"],"id":"7678344637684613","version":"1.1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "Workspace.get_objects", "params": [[{"ref": "76213/3/1"}]],
      "version": "1.1", "id": "37695047564903605"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[{"data":{"direct_html":"","direct_html_link_index":0,"file_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/99ba0c69-648d-479c-8214-83f6bec5670f","description":null,"handle":"KBH_734281","label":"DsrA.test
        NEWICK","name":"DsrA.test.newick"},{"URL":"https://ci.kbase.us/services/shock-api/node/8bae4311-fbca-4e64-bc0e-6a886949403b","description":null,"handle":"KBH_734282","label":"DsrA.test
        NEWICK (with labels)","name":"DsrA.test-labels.newick"},{"URL":"https://ci.kbase.us/services/shock-api/node/320d5ee5-f94d-4931-8b36-f1e2b37c1aca","description":null,"handle":"KBH_734283","label":"DsrA.test
        PNG","name":"DsrA.test.png"},{"URL":"https://ci.kbase.us/services/shock-api/node/fca20e72-da80-47f2-88cc-a3dff97a1300","description":null,"handle":"KBH_734284","label":"DsrA.test
        PDF","name":"DsrA.test.pdf"}],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/700bafb7-a5a2-4d28-b554-f0ada3c3bf22","description":null,"handle":"KBH_734285","label":"DsrA.test
        HTML","name":"DsrA.test.html"}],"html_window_height":null,"objects_created":[{"description":"DsrA.test
        Tree","ref":"76213/2/1"}],"summary_window_height":null,"text_message":"","warnings":[]},"info":[3,"blast_report_20240801_204739","KBaseReport.Report-3.0","2024-08-01T20:48:16+0000",1,"ialarmedalien",76213,"test_kb_fasttree_20240801_204739","a62d03c152a3735b47496533071b0d41",1163,{"Size(characters)":"0","Objects
        Created":"1","Warnings":"0"}],"path":["76213/3/1"],"provenance":[{"time":"2024-08-01T20:47:38+0000","epoch":1722545258000,"service":"kb_fasttree","service_ver":"local-dev","method":"run_local_tests","method_params":[],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"kb_fasttree","ver":"local-dev","code_url":"https://localhost","commit":"local-docker-image"},{"name":"DataFileUtil","ver":"0.2.1-release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"0d855560a37f8787ab3bb67e464b9c94b299764e"},{"name":"KBaseReport","ver":"3.2.1-release","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"b8bb470a4c88d65230e525db48d6a3730069185d"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":76213,"created":"2024-08-01T20:48:15+0000","epoch":1722545295978,"refs":["76213/2/1"],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_734284","KBH_734285","KBH_734282","KBH_734283","KBH_734281"]}}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
